@model CIS174ErikJohnsonOfficial.Web.Models.ErrorViewModel
@{
    ViewBag.Title = "Error";
}

<h2>Oh no!  Something went wrong.</h2>
<p>We've logged your issue and are working on a solution.</p>
<p style="margin-top: 10px"><strong>Error information below: </strong></p>
<p>@Model.ErrorType</p>

