
@{
    ViewBag.Title = "Error Generator";
}

<h2>Error Generator</h2>
<p>Click the button to generate an error.</p>
<form action="/Error/GenerateError">
    <input type="submit" value="Generate Error"/>
</form>
